<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recibo de Pagamento e Notificação</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
    <div style="background-color: #ffffff; max-width: 600px; margin: 0 auto; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

        <h2 style="color: #333;">Recibo de Pagamento do Parquímetro</h2>

        <p style="color: #666;">Olá, [[NOME_DO_CLIENTE]],</p>

        <p style="color: #666;">Este é o recibo de pagamento do parquímetro.</p>

        <p style="color: #666;">Detalhes do pagamento:</p>
        <ul>
            <li style="color: #666;">Data e Hora: [[DATA_HORA]]</li>
            <li style="color: #666;">Valor Pago: [[VALOR_PAGO]]</li>
            <li style="color: #666;">Local: [[LOCAL]]</li>
        </ul>

        <p style="color: #666;">Lembre-se de que seu voucher de parquímetro expirará em breve. Não se esqueça de
            renová-lo para evitar multas.</p>

        <p style="color: #666;">Atenciosamente,</p>
        <p style="color: #666;">Seu Nome</p>
    </div>
</div>
</body>
</html>